<!doctype html>
<html lang="en">
<head>
    <title>KUIT Oshxona</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">

    <link href="./assets/css/stylec619.css" rel="stylesheet" type="text/css"/>

    <link href="./assets/api/pace/pace-theme-flat-top.css" rel="stylesheet" type="text/css"/>
    <link href="./assets/api/mcustomscrollbar/jquery.mCustomScrollbar.css" rel="stylesheet" type="text/css"/>

    <!--<link href="//cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />-->
    <!--<link href="//unpkg.com/multiple-select%401.5.2/dist/multiple-select.min.css" rel="stylesheet">-->
    <!--<link href="//cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" rel="stylesheet" type="text/css" />-->


    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" rel="stylesheet"/>
    <!-- v6.2.1 free -->
    <script src="./vendor/vue/vue.js"></script><!-- v2.7.14 -->
    <!--<link href="./vendor/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <script src="./vendor/jquery/jquery-3.2.1.slim.min.js"></script>&lt;!&ndash; v3.2.1 slim &ndash;&gt;
    <script src="./vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>&lt;!&ndash; v5.2 &ndash;&gt;

    <link href="./assets/css/pricing.css" rel="stylesheet">-->
    <style>


    </style>

</head>
<body>
<div id="app">

    <div class="se-pre-con">
        <div class="pre-loader">
            <img class="img-fluid" src="./assets/img/front/loadergif.gif" alt="loading">
        </div>
    </div>

    <header class="pos-header bg-white">
        <div class="container-fluid">
            <div class="row align-items-center">

                <div class="col-xl-4 col-lg-4 col-md-6">
                    <div class="greeting-text">
                        <h3 class="card-label mb-0 font-weight-bold text-primary">
                            KUIT Oshona
                        </h3>
                        <h3 class="card-label mb-0 ">
                            ISE-51U
                        </h3>
                    </div>

                </div>

                <div class="col-xl-4 col-lg-5 col-md-6 clock-main">
                    <div class="clock">
                        <div class="datetime-content">
                            <ul>
                                <li id="hours"></li>
                                <li id="point1">:</li>
                                <li id="min"></li>
                                <li id="point">:</li>
                                <li id="sec"></li>
                            </ul>
                        </div>
                        <div class="datetime-content">
                            <div id="Date" class=""></div>
                        </div>

                    </div>
                </div>

                <div class="col-xl-4 col-lg-3 col-md-12  order-lg-last order-second">

                    <div class="topbar justify-content-end">
                        <div class="dropdown mega-dropdown">
                            <div id="id2" class="topbar-item " data-toggle="dropdown" data-display="static">
                                <div class="btn btn-icon w-auto h-auto btn-clean d-flex align-items-center py-0 mr-3">
                                     <span class="symbol symbol-35 symbol-light-success">
                                         <span class="symbol-label bg-primary  font-size-h5 ">

                                             <svg xmlns="http://www.w3.org/2000/svg" width="20px" height="20px"
                                                  fill="#fff" class="bi bi-calculator-fill" viewBox="0 0 16 16">
                                                 <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2zm2 .5v2a.5.5 0 0 0 .5.5h7a.5.5 0 0 0 .5-.5v-2a.5.5 0 0 0-.5-.5h-7a.5.5 0 0 0-.5.5zm0 4v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5zM4.5 9a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1zM4 12.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5zM7.5 6a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1zM7 9.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5zm.5 2.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1zM10 6.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5zm.5 2.5a.5.5 0 0 0-.5.5v4a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-4a.5.5 0 0 0-.5-.5h-1z"/>
                                               </svg>
                                         </span>
                                     </span>
                                </div>
                            </div>

                            <div class="dropdown-menu dropdown-menu-right calu" style="min-width: 248px;">
                                <div class="calculator">
                                    <div class="input" id="input"></div>
                                    <div class="buttons">
                                        <div class="operators">
                                            <div>+</div>
                                            <div>-</div>
                                            <div>&times;</div>
                                            <div>&divide;</div>
                                        </div>
                                        <div class="d-flex justify-content-between">
                                            <div class="leftPanel">
                                                <div class="numbers">
                                                    <div>7</div>
                                                    <div>8</div>
                                                    <div>9</div>
                                                </div>
                                                <div class="numbers">
                                                    <div>4</div>
                                                    <div>5</div>
                                                    <div>6</div>
                                                </div>
                                                <div class="numbers">
                                                    <div>1</div>
                                                    <div>2</div>
                                                    <div>3</div>
                                                </div>
                                                <div class="numbers">
                                                    <div>0</div>
                                                    <div>.</div>
                                                    <div id="clear">C</div>
                                                </div>
                                            </div>
                                            <div class="equal" id="result">=</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="dropdown">
                            <div class="topbar-item" data-toggle="dropdown" data-display="static">
                                <div class="btn btn-icon w-auto h-auto btn-clean d-flex align-items-center py-0">

							 <span class="symbol symbol-35 symbol-light-success">
								 <span class="symbol-label font-size-h5 ">
									 <svg width="20px" height="20px" viewBox="0 0 16 16" class="bi bi-person-fill"
                                          fill="currentColor" xmlns="http://www.w3.org/2000/svg">
										 <path fill-rule="evenodd"
                                               d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"></path>
									 </svg>
								 </span>
							 </span>
                                </div>
                            </div>

                            <div class="dropdown-menu dropdown-menu-right" style="min-width: 150px;">


                                <a href="#" class="dropdown-item">
							 <span class="svg-icon svg-icon-xl svg-icon-primary mr-2">
								 <svg xmlns="http://www.w3.org/2000/svg" width="20px" height="20px" viewBox="0 0 24 24"
                                      fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                      stroke-linejoin="round" class="feather feather-power">
									 <path d="M18.36 6.64a9 9 0 1 1-12.73 0"></path>
									 <line x1="12" y1="2" x2="12" y2="12"></line>
								 </svg>
							 </span>
                                    Logout
                                </a>
                            </div>

                        </div>
                    </div>

                </div>

            </div>
        </div>
    </header>

    <div class="contentPOS">
        <div class="container-fluid">
            <div class="row">

                <div class="col-xl-4 order-xl-first order-last">
                    <div class="card card-custom gutter-b bg-white border-0">
                        <div class="card-body">
                            <div class="d-flex justify-content-between colorfull-select">
                                <div class="selectmain">
                                    <select class="arabic-select w-150px bag-primary">
                                        <option value="1">A block Oshxona</option>
                                        <option value="2" disabled>C block Oshxona</option>
                                    </select>
                                </div>

                                <div class="selectmain">
                                    <select class="arabic-select w-150px bag-secondary">
                                        <option value="1">Milliy taomlar</option>
                                        <option value="2" disabled>Ichimliklar</option>
                                    </select>
                                </div>

                            </div>
                        </div>
                        <div class="product-items">
                            <div class="row">
                                <div v-for="product in products" class="col-xl-4 col-lg-2 col-md-3 col-sm-4 col-6"
                                     @click="addToCart(product.id)">
                                    <div class="productCard">
                                        <div class="productThumb">
                                            <img class="img-fluid" :src="'./assets/img' + product.image" alt="ix">
                                        </div>
                                        <div class="productContent">
                                            <p>
                                                {{ product.name }}
                                            </p>
                                            <span>
                                                    {{ product.price }} so'm
                                                </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>

                <div class="col-xl-5 col-lg-8 col-md-8">
                    <div class="">
                        <div class="card card-custom gutter-b bg-white border-0 table-contentpos">
                            <div class="card-body">
                                <div class="d-flex justify-content-between colorfull-select">
                                    <div class="selectmain">
                                        <label class="text-dark d-flex" for="form1">Xaridorning ismi</label>
                                        <input type="text" class="form-control border-dark" id="form1"
                                               placeholder="Aliyev Ali" name="customer_name">
                                    </div>

                                    <div class="d-flex flex-column selectmain">
                                        <label class="text-dark d-flex" for="form2">Xaridorning telefon raqami</label>
                                        <input type="text" class="form-control border-dark" id="form2"
                                               placeholder="+998 " value="+998 " name="customer_phone">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card card-custom gutter-b bg-white border-0 table-contentpos">
                            <div class="card-body">
                                <div class="form-group row mb-0">
                                    <div class="col-md-12">
                                        <label>Tanlangan mahsulotlar</label> <!--<b>Jami: 11ta</b>-->

                                        <fieldset class="form-group mb-0 d-flex barcodeselection">
                                            <select class="form-control w-50" id="exampleFormControlSelect1">
                                                <option>Ismi bo'yicha</option>
                                                <option>Narxi bo'yicha</option>
                                            </select>
                                            <input type="text" class="form-control border-dark" id="basicInput1"
                                                   placeholder="Qidiruv">
                                        </fieldset>
                                    </div>
                                </div>
                            </div>
                            <div class="table-datapos">
                                <div v-if="cart.length" class="table-responsive" id="printableTable">
                                    <table id="orderTable" class="display" style="width:100%">
                                        <thead>
                                        <tr>
                                            <th>Nomi</th>
                                            <th>Narxi</th>
                                            <th>Soni</th>
                                            <th>Jami</th>
                                            <th class=" text-right no-sort"></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr v-for="cProduct in cart">
                                            <td>{{ cProduct.name }}</td>
                                            <td>{{ cProduct.price }} so'm</td>
                                            <td>
                                                <input type="number" value="1" class="form-control border-dark w-100px"
                                                       id="basicInput2" placeholder="">
                                            </td>
                                            <td>{{ cProduct.price }} so'm</td>
                                            <td>
                                                <div class="card-toolbar text-right">
                                                    <a @click="removeFromCart(id)" href="#" class="confirm-delete"
                                                       title="Delete"><i class="fas fa-trash-alt"></i></a>
                                                </div>
                                            </td>
                                        </tr>

                                        </tbody>
                                    </table>
                                </div>
                                <div v-else>
                                    <img class="img-fluid" src="assets/img/front/empty-cart.png">
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="form-group row mb-0">
                                    <div class="col-md-12 btn-submit d-flex justify-content-end">
                                        <button type="submit" class="btn btn-danger mr-2 confirm-delete" title="Delete">
                                            <i class="fas fa-trash-alt mr-2"></i>
                                            Bekor qilish
                                        </button>
                                        <button type="submit" class="btn btn-secondary white">
                                            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                                                 class="bi bi-folder-fill svg-sm mr-2" viewBox="0 0 16 16">
                                                <path d="M9.828 3h3.982a2 2 0 0 1 1.992 2.181l-.637 7A2 2 0 0 1 13.174 14H2.826a2 2 0 0 1-1.991-1.819l-.637-7a1.99 1.99 0 0 1 .342-1.31L.5 3a2 2 0 0 1 2-2h3.672a2 2 0 0 1 1.414.586l.828.828A2 2 0 0 0 9.828 3zm-8.322.12C1.72 3.042 1.95 3 2.19 3h5.396l-.707-.707A1 1 0 0 0 6.172 2H2.5a1 1 0 0 0-1 .981l.006.139z"/>
                                            </svg>
                                            Saqlab qoyish
                                        </button>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>

                <div class="col-xl-3 col-lg-4 col-md-4">
                    <div class="card card-custom gutter-b bg-white border-0">
                        <div class="card-body">
                            <div class="shop-profile">
                                <div class="media">
                                    <div class="bg-primary w-100px h-100px d-flex justify-content-center align-items-center">
                                        <h2 class="mb-0 white">K</h2>
                                    </div>
                                    <div class="media-body ml-3">
                                        <h3 class="title font-weight-bold">KIUT oshxonasi</h3>
                                        <p class="phoonenumber">
                                            +998 (71) 200 66 60
                                        </p>
                                        <p class="adddress">
                                            O'zbekiston Respublikasi Toshkent shahar, KIUT Universiteti
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="resulttable-pos">
                                <table class="table right-table">

                                    <tbody>
                                    <tr class="d-flex align-items-center justify-content-between">
                                        <th class="border-0 font-size-h5 mb-0 font-size-bold text-dark">
                                            Barcha maxsulotlar
                                        </th>
                                        <td class="border-0 justify-content-end d-flex text-dark font-size-base">6</td>

                                    </tr>
                                    <tr class="d-flex align-items-center justify-content-between">
                                        <th class="border-0 font-size-h5 mb-0 font-size-bold text-dark">
                                            Narxi
                                        </th>
                                        <td class="border-0 justify-content-end d-flex text-dark font-size-base">38 000
                                            so'm
                                        </td>

                                    </tr>
                                    <!--<tr class="d-flex align-items-center justify-content-between">
                                        <th class="border-0 ">
                                            <div class="d-flex align-items-center font-size-h5 mb-0 font-size-bold text-dark">
                                                DISCOUNT(65%)
                                                <span class="badge badge-secondary white rounded-circle ml-2"  data-toggle="modal" data-target="#discountpop">
                                                    <svg xmlns="http://www.w3.org/2000/svg" class="svg-sm" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_31" x="0px" y="0px" width="512px" height="512px" viewBox="0 0 512 512" enable-background="new 0 0 512 512" xml:space="preserve">
                                                        <g>
                                                        <rect x="234.362" y="128" width="43.263" height="256"></rect>
                                                        <rect x="128" y="234.375" width="256" height="43.25"></rect>
                                                        </g>
                                                        </svg>
                                                </span>

                                            </div>
                                        </th>
                                        <td class="border-0 justify-content-end d-flex text-dark font-size-base">10%</td>

                                    </tr>-->
                                    <tr class="d-flex align-items-center justify-content-between">
                                        <th class="border-0 font-size-h5 mb-0 font-size-bold text-dark">
                                            Soliq
                                        </th>
                                        <td class="border-0 justify-content-end d-flex text-dark font-size-base">380
                                            so'm
                                        </td>

                                    </tr>
                                    <tr class="d-flex align-items-center justify-content-between">
                                        <th class="border-0">
                                            <div class="d-flex align-items-center font-size-h5 mb-0 font-size-bold text-dark">
                                                Yetkazib berish
                                            </div>
                                        </th>
                                        <td class="border-0 justify-content-end d-flex text-dark font-size-base">0 so'm
                                            (mavjud emas)
                                        </td>

                                    </tr>

                                    <tr class="d-flex align-items-center justify-content-between item-price">
                                        <th class="border-0 font-size-h5 mb-0 font-size-bold text-primary">

                                            JAMI
                                        </th>
                                        <td class="border-0 justify-content-end d-flex text-primary font-size-base">38
                                            380 so'm
                                        </td>

                                    </tr>

                                    </tbody>
                                </table>
                            </div>
                            <div class="d-flex justify-content-end align-items-center flex-column buttons-cash">
                                <div>
                                    <a href="#" class="btn btn-primary white mb-2" data-toggle="modal"
                                       data-target="#payment-popup">
                                        <i class="fas fa-money-bill-wave mr-2"></i>
                                        Naxt to'lov qilish
                                    </a>

                                </div>
                                <div>
                                    <a href="#" class="btn btn-outline-secondary ">
                                        <i class="fas fa-credit-card mr-2"></i>
                                        Kartadan to'lov qilish
                                    </a>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="modal fade text-left" id="payment-popup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel11"
         style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable  modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="myModalLabel11">Payment</h3>
                    <button type="button" class="close rounded-pill btn btn-sm btn-icon btn-light btn-hover-primary m-0"
                            data-dismiss="modal" aria-label="Close">
                        <svg width="20px" height="20px" viewBox="0 0 16 16" class="bi bi-x" fill="currentColor"
                             xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                  d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"></path>
                        </svg>
                    </button>
                </div>
                <div class="modal-body">
                    <table class="table right-table">
                        <tbody>
                        <tr class="d-flex align-items-center justify-content-between">
                            <th class="border-0 px-0 font-size-lg mb-0 font-size-bold text-primary">

                                Total Amount to Pay :

                            </th>
                            <td class="border-0 justify-content-end d-flex text-primary font-size-lg font-size-bold px-0 font-size-lg mb-0 font-size-bold text-primary">

                                $722

                            </td>
                        </tr>
                        <tr class="d-flex align-items-center justify-content-between">
                            <th class="border-0 px-0 font-size-lg mb-0 font-size-bold text-primary">

                                Payment Mode :

                            </th>
                            <td class="border-0 justify-content-end d-flex text-primary font-size-lg font-size-bold px-0 font-size-lg mb-0 font-size-bold text-primary">

                                Cash

                            </td>

                        </tr>
                        </tbody>
                    </table>
                    <form>
                        <div class="form-group row">
                            <div class="col-md-12">
                                <label class="text-body">Received Amount</label>
                                <fieldset class="form-group mb-3">
                                    <input type="text" name="number" class="form-control" value="$1000"
                                           placeholder="Enter Amount ">
                                </fieldset>
                                <div class="p-3 bg-light-dark d-flex justify-content-between border-bottom">
                                    <h5 class="font-size-bold mb-0">Amount to Return :</h5>
                                    <h5 class="font-size-bold mb-0">-$20</h5>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-12">
                                <label class="text-body">Note (If any)</label>
                                <fieldset class="form-label-group ">
                                    <textarea class="form-control fixed-size" id="horizontalTextarea" rows="5"
                                              placeholder="Enter Note"></textarea>

                                </fieldset>
                            </div>
                        </div>
                        <div class="form-group row justify-content-end mb-0">
                            <div class="col-md-6  text-right">
                                <a href="#" class="btn btn-primary">Submit</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade text-left" id="shippingpop" tabindex="-1" role="dialog" aria-labelledby="myModalLabel12"
         style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable  modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="myModalLabel12">Add Shipping Address</h3>
                    <button type="button" class="close rounded-pill btn btn-sm btn-icon btn-light btn-hover-primary m-0"
                            data-dismiss="modal" aria-label="Close">
                        <svg width="20px" height="20px" viewBox="0 0 16 16" class="bi bi-x" fill="currentColor"
                             xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                  d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"></path>
                        </svg>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group row">
                            <div class="col-md-6">
                                <label class="text-body">Country</label>
                                <fieldset class="form-group mb-3">
                                    <select class="js-example-basic-single js-states form-control bg-transparent  p-0 border-0"
                                            name="state">
                                        <option value="AL">USA</option>

                                        <option value="WY">UK</option>
                                    </select>
                                </fieldset>
                            </div>
                            <div class="col-md-6">
                                <label class="text-body">State</label>
                                <fieldset class="form-group mb-3">
                                    <input type="text" name="text" class="form-control" placeholder="Enter State ">
                                </fieldset>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-6">
                                <label class="text-body">City</label>
                                <fieldset class="form-group mb-3">
                                    <select class="js-example-basic-single js-states form-control bg-transparent p-0 border-0"
                                            name="state">
                                        <option value="AL">Bahreen</option>

                                        <option value="WY">Dubai</option>
                                    </select>
                                </fieldset>
                            </div>
                            <div class="col-md-6">
                                <label class="text-body">Postal Code</label>
                                <fieldset class="form-group mb-3">
                                    <input type="number" name="text" class="form-control"
                                           placeholder="Enter Postal code">
                                </fieldset>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-6">
                                <label class="text-body">Address</label>
                                <fieldset class="form-group mb-3">
                                    <input type="text" name="text" class="form-control" placeholder="Enter Address">
                                </fieldset>
                            </div>
                            <div class="col-md-6">
                                <label class="text-body">Phone Number</label>
                                <fieldset class="form-group mb-3">
                                    <input type="number" name="text" class="form-control"
                                           placeholder="Enter Phone Number">
                                </fieldset>
                            </div>
                        </div>
                        <div class="form-group row justify-content-end mb-0">
                            <div class="col-md-6  text-right">
                                <a href="#" class="btn btn-primary">Add Address</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade text-left" id="choosecustomer" tabindex="-1" role="dialog" aria-labelledby="myModalLabel13"
         style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-lg " role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="myModalLabel13">Add Customer</h3>
                    <button type="button" class="close rounded-pill btn btn-sm btn-icon btn-light btn-hover-primary m-0"
                            data-dismiss="modal" aria-label="Close">
                        <svg width="20px" height="20px" viewBox="0 0 16 16" class="bi bi-x" fill="currentColor"
                             xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                  d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"></path>
                        </svg>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group row">
                            <div class="col-md-6">
                                <label class="text-body">Customer Group</label>
                                <fieldset class="form-group mb-3">
                                    <select class="js-example-basic-single js-states form-control bg-transparent p-0 border-0"
                                            name="state">
                                        <option value="AL">General</option>

                                        <option value="WY">Partial</option>
                                    </select>
                                </fieldset>
                            </div>
                            <div class="col-md-6">
                                <label class="text-body">Customer Name</label>
                                <fieldset class="form-group mb-3">
                                    <input type="text" name="text" class="form-control"
                                           placeholder="Enter Customer Name">
                                </fieldset>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-6">
                                <label class="text-body">Company Name</label>
                                <fieldset class="form-group mb-3">
                                    <input type="text" name="text" class="form-control"
                                           placeholder="Enter Company Name">
                                </fieldset>
                            </div>
                            <div class="col-md-6">
                                <label class="text-body">Tax Number</label>
                                <fieldset class="form-group mb-3">
                                    <input type="text" name="text" class="form-control" placeholder="Enter Tax">
                                </fieldset>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-6">
                                <label class="text-body">Email</label>
                                <fieldset class="form-group mb-3">
                                    <input type="email" name="text" class="form-control" placeholder="Enter Mail">
                                </fieldset>
                            </div>
                            <div class="col-md-6">
                                <label class="text-body">Phone Number</label>
                                <fieldset class="form-group mb-3">
                                    <input type="email" name="text" class="form-control"
                                           placeholder="Enter Phone Number">
                                </fieldset>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-6">
                                <label class="text-body">Country</label>
                                <fieldset class="form-group mb-3">
                                    <select class="js-example-basic-single js-states form-control bg-transparent p-0 border-0"
                                            name="state">
                                        <option value="AL">USA</option>

                                        <option value="WY">UK</option>
                                    </select>
                                </fieldset>
                            </div>
                            <div class="col-md-6">
                                <label class="text-body">State</label>
                                <fieldset class="form-group mb-3">
                                    <input type="text" name="text" class="form-control" placeholder="Enter State">
                                </fieldset>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-6">
                                <label class="text-body">City</label>
                                <fieldset class="form-group mb-3">
                                    <select class="js-example-basic-single js-states form-control bg-transparent p-0 border-0"
                                            name="state">
                                        <option value="AL">Dubai</option>

                                        <option value="WY">Bahreen</option>
                                    </select>
                                </fieldset>
                            </div>
                            <div class="col-md-6">
                                <label class="text-body">Postal Code</label>
                                <fieldset class="form-group mb-3">
                                    <input type="text" name="text" class="form-control" placeholder="Enter Postal Code">
                                </fieldset>
                            </div>
                        </div>
                        <div class="form-group row ">
                            <div class="col-md-6">
                                <label class="text-body">Address</label>
                                <fieldset class="form-group mb-3">
                                    <input type="text" name="text" class="form-control " placeholder="Enter Address">
                                </fieldset>
                            </div>
                        </div>
                        <div class="form-group row justify-content-end mb-0">
                            <div class="col-md-6  text-right">
                                <a href="#" class="btn btn-primary">Add Customer</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade text-left" id="discountpop" tabindex="-1" role="dialog" aria-labelledby="myModalLabel122"
         style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable  modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="myModalLabel122">Add Discount</h3>
                    <button type="button" class="close rounded-pill btn btn-sm btn-icon btn-light btn-hover-primary m-0"
                            data-dismiss="modal" aria-label="Close">
                        <svg width="20px" height="20px" viewBox="0 0 16 16" class="bi bi-x" fill="currentColor"
                             xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                  d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"></path>
                        </svg>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-12">
                            <label class="text-body">Discount</label>
                            <fieldset class="form-group mb-3 d-flex">
                                <input type="text" name="text" class="form-control bg-white"
                                       placeholder="Enter Discount">
                                <a href="javascript:void(0)"
                                   class="btn-secondary btn ml-2 white pt-1 pb-1 d-flex align-items-center justify-content-center">Apply</a>
                            </fieldset>
                            <div class="p-3 bg-light-dark d-flex justify-content-between border-bottom">
                                <h5 class="font-size-bold mb-0">Discount Applied of:</h5>
                                <h5 class="font-size-bold mb-0">$20</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script src="./assets/js/plugin.bundle.min.js"></script>
    <script src="./assets/js/bootstrap.bundle.min.js"></script>
    <!--<script src="//cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
    <script src="//unpkg.com/multiple-select%401.5.2/dist/multiple-select.min.js"></script>-->
    <script src="./assets/js/sweetalert.js"></script>
    <script src="./assets/js/sweetalert1.js"></script>
    <script src="./assets/js/script.bundle.js"></script>
    <script>
        jQuery(function () {
            jQuery('.arabic-select').multipleSelect({
                filter: true,
                filterAcceptOnEnter: true
            })
        });
        jQuery(function () {
            jQuery('.js-example-basic-single').multipleSelect({
                filter: true,
                filterAcceptOnEnter: true
            })
        });
        jQuery(document).ready(function () {
            jQuery('#orderTable').DataTable({

                "info": false,
                "paging": false,
                "searching": false,

                "columnDefs": [{
                    "targets": 'no-sort',
                    "orderable": false,
                }]
            });
        });
    </script>

</div>
<script type="module">
    var vm = new Vue({
        el: '#app',
        data: {
            cart: [],
            company: {
                phone: '',
                email: '',
            },
            page: {
                header: {
                    links: [
                        {name: "Asosiy"},
                        {name: "Filiallar"},
                        {name: "Vakantlar"},
                        {name: "Yangiliklar"},
                        {name: "Biz haqimizda"},
                        {name: "Kontaktlar"},
                    ]
                }
            },
            products: [
                {id: 1, name: "Osh", price: "20000", image: "/food/osh.jpg"},
                {id: 2, name: "Norin", price: "22000", image: "/food/norin.jpg"},
                {id: 3, name: "Achchiq chuchuk", price: "8000", image: "/food/achchiq.jpg"},
                {id: 4, name: "Non (4ta bo'lak)", price: "500", image: "/food/non.jpg"},
                {id: 5, name: "Ko'k choy (choynakda)", price: "1000", image: "/food/kokchoy.jpg"},
            ]
        },
        created() {
            $(document).ready(function () {
                if (jQuery) {
                    console.log('Jquery working')
                } else {
                    alert("Jquery not working");
                }
            });
        },
        mounted() {

        },
        methods: {
            showCart() {
                console.log('open cart');
                $(document).ready(function () {
                    $('#cartModal').modal('show');
                });
            },
            addToCart(id) {
                console.log('product added (id: ' + id + ')')
                this.cart.push(
                    this.getProductByID(id)
                )

            },
            removeFromCart(id) {
                this.cart.forEach(function (eid, index) {
                    console.log(eid)
                    if (eid.id === id) {
                        console.log('remove: id ' + id)
                        Vue.delete(this.cart, index)
                    }
                })

            },
            getProductByID(id) {
                console.log('get product (id: ' + id + ')')
                let selected = this.products.filter(d => d.id === id)[0];
                console.log(selected)
                return selected

            }
        }
    })
</script>


</body>
</html>

